@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins';
  /* background-color: #c1f5e2; */
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf");
}

.font-PoppinsBold {
  font-family: 'PoppinsBold', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal
}

.banner {
  padding: 8rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-image: url('/images/cloudy-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.card {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: black;
  width: 80px;
  border-radius: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 25%;
}

.info-banner {
  display: flex;
  flex-direction: row;
  background-image: url('/images/thunder.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 25vw;
  color: white;
  padding: 6em 10em;
  gap: 3em;
  align-items: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin: 8rem 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 20px;
  background-color: #006a90;
  color: white;
}

.sign-up {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 820px) /* and (min-width: 415px)*/ { 
  .banner {
    flex-direction: column;
    padding: 4rem;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 60%;
    gap: 0.5rem;
  }

  .info-banner {
    height: 75%;
    flex-direction: column;
    text-align: center;
    padding: 5em 6em;
    gap: 1em;
  }

  .newsletter {
    margin: 3rem 2rem;
    padding: 2rem 3rem;
  }
  
  .newsletter h1 {
    font-size: 1.5rem;
  }

  .sign-up {
    scale: 85% ;
  }
}

@media (max-width: 414px) and (min-width: 1px){
  .banner {
    padding: 4rem;
    gap: 0rem;
  }

  .banner h1 {
    font-size: 2.9rem;
  }

  .banner p {
    font-size: 1.6rem;
  }

  .banner button {
    scale: 110%;
  }

  .pika {
    display: none;
  }

  .card {
    width: 75%;
  }

  .cards {
    gap: 2rem;
  }

  .info-banner {
    padding: 2em 2em;
    height: 140vw;
    gap: 0rem;
  }

  .info-banner h1 {
    font-size: 1.5rem;
  }

  .info-banner p {
    font-size: 0.9rem;
  }

  .question-mark {
    scale: 75%;
  }

  .newsletter {
    margin: 3rem 2rem;
    padding: 2rem 3rem;
  }
  
  .newsletter h1 {
    font-size: 1.5rem;
  }

  .sign-up {
    scale: 85% ;
  }
}

